@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Oswald", sans-serif;
}

/* 
#pool-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pool {
  width: 100px;
  height: 100px;
  margin: 10px;
  background-color: green;
  cursor: pointer;
}

.pool.reserved {
  background-color: yellow;
}

#reservation-form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
} */
