.react-calendar {
  width: 400px;
  height: 300px;
  max-width: 100%;
  background-color: #fff;
  color: #222;
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.125em;
}

.react-calendar__navigation {
  display: flex;
  justify-content: center;
  margin-bottom: 8px;
}

.react-calendar__navigation button {
  color: black;
  min-width: 50px;
  background-color: transparent;
  border: none;
  font-size: 16px;
  margin-top: 8px;
  margin-bottom: 8px;
}

.react-calendar__navigation button:enabled:hover,
.react-calendar__navigation button:enabled:focus {
  background-color: #f8f8fa;
}

.react-calendar__navigation button[disabled] {
  background-color: #f0f0f0;
}

abbr[title] {
  text-decoration: none;
}

.react-calendar__month-view__days__day--weekend {
  color: grey;
}

.react-calendar__month-view__weekdays {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
  font-size: 0.9rem;
}

.react-calendar__month-view__weekdays__weekday {
  flex-basis: calc(100% / 7);
  text-align: center;
}

.react-calendar__month-view__weekdays__weekday abbr {
  text-decoration: none;
}

.react-calendar__tile {
  margin-top: 8px;
  background-color: transparent;
  font-size: 1rem;
  border: none;
  width: 2em; /* Set the width and height to the same value */
  height: 2.2em;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 2em; /* Set the line height to match the height */
}

.react-calendar__tile:enabled:hover,
.react-calendar__tile:enabled:focus {
  border-radius: 10px;
  background: #222739;
  color: white;
}

.react-calendar__tile--now {
  background: #7393b3;
  border-radius: 10px;
  font-weight: bold;
  color: white;
}

.react-calendar__tile--now:enabled:hover,
.react-calendar__tile--now:enabled:focus {
  background: #7393b3;
  border-radius: 10px;
  font-weight: bold;
  color: white;
}

.react-calendar__tile--hasActive:enabled:hover,
.react-calendar__tile--hasActive:enabled:focus {
  background: #f8f8fa;
}

.react-calendar__tile--active {
  background: #ffe900;
  border-radius: 10px;
  font-weight: bold;
  color: black;
}

.react-calendar__tile--active:enabled:hover,
.react-calendar__tile--active:enabled:focus {
  border-radius: 10px;
  background: #ffe900;
  color: black;
}

.react-calendar--selectRange .react-calendar__tile--hover {
  background-color: #f8f8fa;
}

.react-calendar__tile--range {
  background: #f8f8fa;
  color: #ffe900;
  border-radius: 10px;
}

.react-calendar__tile--rangeStart {
  border-radius: 10px;
  background: #ffe900;
  color: black;
}

.react-calendar__tile--rangeEnd {
  border-radius: 10px;
  background: #ffe900;
  color: black;
}
