.react-calendar {
  width: 400px;
  height: 320px;
  max-width: 100%;
  background-color: #fff;
  color: #222;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.125em;
  border-radius: 20px;
}

.react-calendar__navigation {
  display: flex;
  justify-content: center;
  margin-bottom: 8px;
  border-radius: 20px;
  background-image: linear-gradient(to bottom, #f3f4f6, #fff);
}

.react-calendar__navigation button {
  color: black;
  min-width: 50px;
  border: none;
  font-size: 1.2rem;
  margin-top: 8px;
  margin-bottom: 8px;
}

.react-calendar__navigation button:enabled:hover,
.react-calendar__navigation button:enabled:focus {
  color: #7393b3;
}

abbr[title] {
  text-decoration: none;
}

.react-calendar__month-view__weekdays {
  display: flex;
  color: #7393b3;
  background-image: linear-gradient(to bottom, #f3f4f6, #fff);
  justify-content: space-between;
  margin-bottom: 8px;
}

.react-calendar__month-view__weekdays__weekday {
  flex-basis: calc(100% / 7);
  text-align: center;
  font-size: 0.8rem;
}

.react-calendar__month-view__weekdays__weekday abbr {
  text-decoration: none;
}

.react-calendar__tile {
  margin-top: 8px;
  background-color: #b39373;
  font-size: 1.1rem;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 2em; /* Set the line height to match the height */
  border-radius: 10px; /* Create a perfect circle */
  overflow: hidden; /* Set the line height to match the height */
}

.react-calendar__tile:enabled:hover,
.react-calendar__tile:enabled:focus {
  border-radius: 10px;
  background: #222739;
  color: white;
}
hover .react-calendar__tile--now {
  background: #7393b3;
  border-radius: 10px;
  font-weight: bold;
  color: white;
}

.react-calendar__tile--now:enabled:hover,
.react-calendar__tile--now:enabled:focus {
  background: #7393b3;
  border-radius: 10px;
  font-weight: bold;
  color: black;
}

.react-calendar__tile--hasActive:enabled:hover,
.react-calendar__tile--hasActive:enabled:focus {
  background: #f8f8fa;
}

.react-calendar__tile--active {
  background: #b39373;
  border-radius: 10px;
  font-weight: bold;
  color: black;
}

.react-calendar__tile--active:enabled:hover,
.react-calendar__tile--active:enabled:focus {
  border-radius: 10px;
  background: #b39373;
  color: white;
}

.react-calendar--selectRange .react-calendar__tile--hover {
  background-color: #f8f8fa;
}

.react-calendar__tile--range {
  background: #f8f8fa;
  color: #b39373;
  border-radius: 10px;
}

.react-calendar__tile--rangeStart {
  border-radius: 10px;
  background: #b39373;
  color: white;
}

.react-calendar__tile--rangeEnd {
  border-radius: 10px;
  background: #b39373;
  color: white;
}
